{# ==========================================================================

   sub_nav()

   ==========================================================================

   Description:

   Creates sub-nav markup when given:

   sub_nav_title:   A string used for the sub nav title.

   sub_nav_landing: A string used for the url of the sub nav landing page

   sub_nav_items:   An array of tuples.

   sub_nav_media:   A string composed of html markup.

   ========================================================================== #}

{% macro render(sub_nav_title, sub_nav_landing, sub_nav_items, sub_nav_media) %}
<div class="sub-nav js-sub-nav">
    <div class="wrapper wrapper__sub-nav">
        <button class="sub-nav_btn__back js-sub-nav_back">Back</button>
        <section class="sub-nav_menu">
            <span class="sub-nav_title">
              <a class="sub-nav_link"
                 href="{{ sub_nav_landing }}">
                 {{ sub_nav_title }}
              </a>
            </span>
            <div class="content-l content-l__full">
            {%- for sub_nav_item in sub_nav_items %}
                <ul class="sub-nav_menu-list
                           content-l_col
                           content-l_col-1-3
                           list__unstyled">
                    {%- for href, id, caption in sub_nav_item %}
                        <li class="list_item sub-nav_item">
                          {% if href == '' %}
                              <a class="list_link u-link__disabled">
                                  {{ caption | safe }}
                              </a>
                          {% else %}
                              <a class="list_link list_link{{'__current' if href == request.path }} sub-nav_link"
                                  href="{{ href|e }}">
                                  {{ caption | safe }}
                             </a>
                          {% endif %}
                        </li>
                    {%- endfor %}
                </ul>
            {%- endfor %}
            </div>
        </section>
        <aside class="sub-nav_media">
            {{ sub_nav_media }}
        </aside>
    </div>
</div>
{% endmacro %}
